section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 1rem;
  user-select: none;
}

.sobre {
  width: 70vw;
  margin-bottom: 3%;
  font-size: 5vmin;
  font-weight: 600;
  background: linear-gradient(
    135deg,
    rgba(255, 59, 59, 1) 0%,
    rgba(163, 65, 65, 1) 54%,
    rgba(92, 25, 25, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#ancor2 {
  margin-bottom: 5%;
  color: rgba(59, 81, 100, 0);
}

#h1 {
  color: rgb(40, 40, 40);
}

#sobre {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 7rem;
  padding-top: 3rem;
  border: 1px solid rgba(130, 130, 130, 0.15);
  border-radius: 1ch;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);

  & #skills {
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  & .skills {
    height: 8vmin;
    width: 8vmin;
    margin-inline: 2rem;
    border-radius: 3ch;
    overflow: hidden;
    background: rgb(255, 59, 59);
    background: linear-gradient(
      135deg,
      rgba(255, 59, 59, 1) 0%,
      rgba(163, 65, 65, 1) 54%,
      rgba(92, 25, 25, 1) 100%
    );
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      width: 5vmin;
      height: 5vmin;
    }
  }
}

#ancor {
  color: rgba(255, 255, 255, 0);
  user-select: none;
  margin-top: 5%;
}

#text1 {
  margin-top: 5%;
  margin-bottom: 4%;
  width: 70vw;
  font-size: 5vmin;
  font-weight: 600;
  background: linear-gradient(
    135deg,
    rgba(255, 59, 59, 1) 0%,
    rgba(163, 65, 65, 1) 54%,
    rgba(92, 25, 25, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#text2 {
  width: 70vw;
  font-size: 5vmin;
  font-weight: 600;
  background: linear-gradient(
    135deg,
    rgba(255, 59, 59, 1) 0%,
    rgba(163, 65, 65, 1) 54%,
    rgba(92, 25, 25, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#projetos {
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10%;
}

.projetos {
  width: 15vmin;
  height: 50vmin;
  margin-inline: 0.1rem;
  border: solid 2px black;
  border-radius: 3ch;
  object-fit: cover;
  transition: all ease-in-out 0.5s;
  color: rgba(255, 255, 255, 0);
  padding-bottom: 3rem;
}

.projetos:hover {
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 3rem;

  & #btn {
    width: 8rem;
    height: 3rem;
    background-color: rgb(160, 50, 50);
    border-radius: 1ch;
    margin-inline: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
  }

  & p {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & p:hover {
    background-color: rgb(150, 50, 50);
  }
}
